<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>BusyFlights App</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">BusyFlight App</a>
                </div>
            </div>
        </nav>
        <div class="container">
            <div id="response-div"></div>
            <h3>Paste request here</h3>
            <form id="request-form" class="form-horizontal">
                <div class="form-group form-group-lg">
                    <div class="col-sm-10">
                        <textarea id="request-input" class="form-control" rows="13">
{
    "origin": "LHR",
    "destination": "AMS",
    "departureDate": "2017-08-21",
    "returnDate": "2017-08-25",
    "numberOfPassengers":"1"
}
                        </textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10 text-center">
                        <button id="bth-submit" type="submit" class="btn btn-primary btn-lg">
                            Submit
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <script type="text/javascript" src="webjars/jquery/3.1.1/jquery.min.js"></script>
        <script type="text/javascript" src="js/main.js"></script>
    </body>
</html>