<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Busy Flights</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/lib/jquery-ui.min.css}" media="all" />
    </head>
    <body>
        <!-- Todo: Refactor html, use some nice css and do some js validation. -->
        <form id="requestform">
            <textarea rows="20" cols="50">
            </textarea>
        </form>
        <input type="button" th:value="${buttonText}" onclick="sendRequest()" />

        <script type="text/javascript" th:src="@{/js/lib/jquery-3.2.1.min.js}" />
        <script type="text/javascript" th:src="@{/js/src/busyflights.js}" />
    </body>
</html>
